@model IEnumerable<SurfsUp.Models.Board>

@{
    ViewData["Title"] = "Surfboard List";
}


<!-- Modal -->
<div id="boardModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="modal-body">
            <div class="left">
                <img id="modalImage" src="" alt="Board Image" />
            </div>
            <div class="right">
                <h2 id="modalBoardName"></h2>
                <p><strong>Type:</strong> <span id="modalType"></span></p>
                <p><strong>Dimensioner(Bredde x Længde x Højde):</strong> <span id="modalDimensions"></span></p>
                <p><strong>Volume:</strong> <span id="modalVolume"></span> Liters</p>
                <p><strong>Pris:</strong> €<span id="modalPrice"></span> eller €<span id="modalRentPrice"></span> pr. dag</p>
                <p><strong>Udstyr:</strong> <span id="modalEquipment"></span></p>

                <!-- Date Pickers -->
                <div class="date-picker">
                    <label for="dateFrom">Fra:</label>
                    <input type="date" id="dateFrom" name="dateFrom" required />
                </div>
                <div class="date-picker">
                    <label for="dateTo">Til:</label>
                    <input type="date" id="dateTo" name="dateTo" required />
                </div>

                <!-- Book Button -->
                <button class="book-btn" onclick="bookBoard()">Book</button>
            </div>
        </div>
    </div>
</div>

@if (Model != null && Model.Any())
{
    <div>
        <ul class="board-container">
            @foreach (var board in Model)
            {
                <li style="list-style-type:none;">
                    <a class="card" onclick="openModal('@board.Name', '@board.Type', '@board.Length', '@board.Width', '@board.Thickness', '@board.Volume', '@board.Price', '@board.Equipment', '@board.ImagePath')">
                        <div class="image-container">
                            <img class="image" src="@board.ImagePath" />
                        </div>
                        <div class="text-container">
                            @board.Name
                        </div>
                        <div class="text-container-type">
                            @board.Type
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
}